config-notification {
    disable-failed
}

/-output "eDP-1" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}


gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {}
	
	repeat-delay 200
	repeat-rate 40
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {}

    trackpoint {}

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="1%" // 1% 避免非整数缩放导致的无法切换聚焦
    // 输出 2327，两个窗口各 1158.18 宽。只看窗口本体大约是：1158.18 * 2 = 2316.36, 但加上 niri gap ：4 + 1158.18 + 4 + 1158.18 + 4 = 2328.36, 看起来窗口完整显示, 但实际超出屏幕不会切换聚焦
}

layout {
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.2
        proportion 0.33333
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.66667
        proportion 0.8
    }
    default-column-width { proportion 0.5; }
    border {
        off
        width 4
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {}
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}
environment {
  XDG_CURRENT_DESKTOP "niri"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot-%Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}
blur {
    // 决定模糊的强度和半径（默认 3）。
    // 值越大模糊越丝滑、半径越大，但会成倍增加 GPU 的计算负担。
    passes 2
    
    // 每次采样的偏移乘数（默认 3.0）。
    // 调大此值可以在【不增加 GPU 负担】的情况下扩大模糊半径。
    // 调试技巧：先试着调大 offset（比如调到 4.0），如果出现了画面撕裂或伪影，再回去增加 passes。
    offset 3.0
    
    // 噪点覆盖强度（默认 0.02）。
    // 给高斯模糊加上一层细微的噪点（毛玻璃质感），同时能有效防止色彩断层（Color Banding）。
    noise 0.02
    
    // 模糊背景的色彩饱和度（默认 1.5）。
    // 提高饱和度能让毛玻璃背后的颜色更鲜艳，配合 DMS 的设计语言视觉效果极佳。
    saturation 1.5
}
// Work around WezTerm's initial configure bug by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
    background-effect {
        blur true
    }
}
// Other terminals
window-rule {
    match app-id=r#"^kitty$"#
    match app-id=r#"^com\.mitchellh\.ghostty$"#
    default-column-width { proportion 0.333333; }
    background-effect {
        blur true
    }
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
window-rule{
    match app-id="QQ"
    match app-id="wechat"
    match title="微信"
    open-floating true
}
// Open dms windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}
debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

// Include dms files
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/outputs.kdl"
include "dms/cursor.kdl"

include "dms/windowrules.kdl"
